@reset-global pc

@font-face
   font-family Montserrat
   src url('../fonts/Montserrat-Regular.otf') format('opentype')

@font-face
   font-family Quicksand
   src url('../fonts/Quicksand-Bold.otf') format('opentype')   


.page-wrap
    max-width 100%
    box vertical
    position relative
    background-color #fff
    font-family Montserrat, Helvetica, sans-serif
    font-size 14px
